<% if @kijis.present? %>
<tr>
  <th>タイトル</th>
  <th>日記</th>
  <th>日付</th>
</tr>


 <% @kijis.each do |kiji| %>
 <tr>
  <td><%= link_to kiji.title, kiji %></td><br>
  <td><%= kiji.body %></td>
  <td><%= kiji.released_at.strftime("%Y/%m/%d %H:%M") %></td>
 </tr>
 <% end %>

<% else %>
  <p>情報がありません</p>
<% end %>