 <tr>
   <th>名前</th>
   <td><%= @member.name %></td>
 </tr><br>

 <tr>
   <th>誕生日</th>
   <td><%= @member.birthday.try(:strftime, "%Y年%m年%d日") %></td>
 </tr><br>

 <tr>
   <th>性別</th>
   <td><%= @member.gender == 0 ? "男" : "女" %></td>
 </tr><br>

 <tr>
   <th>画像</th>
   <td><%= image_tag current_member.image.url, width: 96 %></td>
 </tr>


